{# ========================================================================== #}
{# :: Variables #}
{# ========================================================================== #}
{% set columns = data.children() ?? "" %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
{% macro columns(title, items, image, isCentered) %}
    {% if title %}
        <div {% if isCentered %}class="text-center"{% endif %}>
            {% if image %}
                <img src="{{image.first().getUrl()}}" class="{% if isCentered %}mx-auto{% endif %} mb-4"/>
            {% endif %}

            <h2 class="pb-8">
                {{ title }}
            </h2>

            {% if items | length > 0 %}
                <ul>
                    {% for item in items.all() %}

                        <li class="flex mb-5">
                            {% if item.icon.one() %}
                                {{ svg(item.icon.one())|attr({
                                    class: 'fill-medium-blue h-6 mr-4'
                                })}}
                            {% endif %}

                            <div>
                                {{item.text}}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<div class="container mx-auto px-8">
    <div class="grid md:grid-cols-{{columns|length}} gap-10 rounded-x-lg p-16" style="box-shadow: 0px 0px 30px #00000014;">
        {% for column in columns.all() %}
            {{ _self.columns(column.commonTitle, column.columnItems, column.commonImage, column.isCentered )}}
        {% endfor %}
    </div>
</div>
