{# ========================================================================== #}
{# :: Variables #}
{# ========================================================================== #}
{% set title = data.commonTitle ?? "" %}
{% set description = data.commonDescription ?? "" %} 
{% set link = data.commonLink ?? "" %} 
{% set secondaryLink = data.commonSecondaryLink ?? "" %} 
{% set color = data.commonColor ?? "" %} 
{% set tags = data.commonTags ?? "" %} 

{% import "/macros/color" as colorMacro %}

{% switch color %}
    {% case 'primary' %}
        {% set colorBackground = "bg-primary" %}
        {% set buttonBackground = "white" %}
        {% 
            set colorLeft = {
                pacman: "fill-white",
                circle: "fill-lavendel",
                triangle:  "fill-rose",
                stripes: "fill-blue",
            }
        %}

        {% 
            set colorRight = {
                pacman: "fill-white",
                circle: "fill-lavendel",
                triangle:  "fill-rose",
                stripes: "fill-blue",
            }
        %}
    {% case 'white' %}
        {% set colorBackground = "bg-white" %}
        {% set buttonBackground = "primary" %}
        {% 
            set colorLeft = {
                pacman: "fill-primary",
                circle: "fill-lavendel",
                triangle:  "fill-rose",
                stripes: "fill-blue",
            }
        %}

        {% 
            set colorRight = {
                pacman: "fill-primary",
                circle: "fill-lavendel",
                triangle:  "fill-rose",
                stripes: "fill-blue",
            }
        %}
    {% case 'rose' %}
        {% set colorBackground = "bg-white" %}
        {% set buttonBackground = "primary" %}
        {% 
            set colorLeft = {
                pacman: "fill-white",
                circle: "fill-rose",
                triangle:  "fill-primary",
                stripes: "fill-primary",
            }
        %}

        {% 
            set colorRight = {
                pacman: "fill-white",
                circle: "fill-rose",
                triangle:  "fill-rose",
                stripes: "fill-primary",
            }
        %}
    {% case 'violet' %}
        {% set colorBackground = "bg-white" %}
        {% set buttonBackground = "primary" %}
        {% 
            set colorLeft = {
                pacman: "fill-white",
                circle: "fill-violet",
                triangle:  "fill-primary",
                stripes: "fill-primary",
            }
        %}

        {% 
            set colorRight = {
                pacman: "fill-white",
                circle: "fill-violet",
                triangle:  "fill-violet",
                stripes: "fill-primary",
            }
        %}
    {% case 'blue' %}
        {% set colorBackground = "bg-white" %}
        {% set buttonBackground = "primary" %}
        {% 
            set colorLeft = {
                pacman: "fill-white",
                circle: "fill-blue",
                triangle:  "fill-primary",
                stripes: "fill-primary",
            }
        %}

        {% 
            set colorRight = {
                pacman: "fill-white",
                circle: "fill-blue",
                triangle:  "fill-blue",
                stripes: "fill-primary",
            }
        %}
    {% default %}
        {% set colorBackground = "bg-primary" %}
        {% set buttonBackground = "white" %}
        {% 
            set colorLeft = {
                pacman: "fill-white",
                circle: "fill-lavendel",
                triangle:  "fill-rose",
                stripes: "fill-blue",
            }
        %}

        {% 
            set colorRight = {
                pacman: "fill-white",
                circle: "fill-lavendel",
                triangle:  "fill-rose",
                stripes: "fill-blue",
            }
        %}
{% endswitch %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<div class="{{colorBackground}}  {% if (data.commonShowIcons == false and colorBackground == 'bg-white') %} {% else %}py-8 lg:py-20 {%endif%} relative overflow-hidden">
    <div class="container mx-auto">
        {# Shape left #}
        {% if data.commonShowIcons %}
            {% include "/components/shapes/left.twig" with {
                customClasses: "hidden lg:block absolute left-0 top-0 w-2/12 pb-24",
                colors: colorLeft
            } %}
        {% endif %}

        {# Content #}
        <div class="px-4 flex flex-col items-center w-full  text-center gap-6 mx-auto lg:w-8/12">
            <div class="flex flex-col gap-2 items-center">
                {% if data.commonImage.one() %}
                    <img class="lg:w-80 mb-4" src="{{ data.commonImage.one().getUrl({
                        width: 960,
                        format: 'webp',
                        quality: 80,
                        mode: 'fit'
                    }) }}" alt="{{ data.commonImage.one().alt }}"/>
                {% endif %}

                {% if data.commonIcon.one() %}
                    <img class="w-12 h-12" src="{{ data.commonIcon.one().url }}" alt="{{ data.commonIcon.one().alt }}">
                {% endif %}

                {% if tags %}
                    <div class="flex flex-row gap-2">
                        {% for tag in tags %}
                            <div class="text-xs uppercase font-bold bg-grey p-1 px-2">
                                {{ tag }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <h2>
                {{ title }}
            </h2>

            <div>
                {{ description|nl2br }}
            </div>

            {# Buttons #}
            <ul class="flex gap-8 items-center">
                {% if link.getUrl() %}
                    <li>
                        {% include "/components/button.twig" with { 
                            href :link,
                            text : link.getText(),
                            color: buttonBackground,
                        }
                            only
                        %}
                    </li>
                {% endif %}

                {% if secondaryLink.getUrl() %}
                    {% if data.commonButtonsLayout == "2Buttons" %}
                        <li>
                            {% include "/components/button.twig" with { 
                                href : secondaryLink,
                                text : secondaryLink.getText(),
                            } only %}
                        </li>
                    {% else %}
                        <li>
                            {% include "/components/link.twig" with { 
                                href : secondaryLink,
                                text : secondaryLink.getText(),
                                icon: "arrow-down"
                            } only %}
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>

        {# Shape right #}
        {% if data.commonShowIcons %}
            {% include "/components/shapes/right.twig" with {
                customClasses: "hidden absolute right-0 bottom-0 w-2/12 pt-8 lg:block ",
                colors: colorRight
            } %}
        {% endif %}
    </div>
</div>