{# ========================================================================== #}
{# :: Variables #}
{# ========================================================================== #}
{% set title = data.commonTitle ?? "" %}
{% set description = data.commonDescription ?? "" %} 
{% set color = data.commonColor ?? "" %} 
{% set tags = data.commonTags ?? "" %} 
{% set cards = data.commonCards ?? "" %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<div class="bg-{{color}} pt-8 relative">
    <div class="container mx-auto px-4">
        <div class="flex">
            {# Image #}
            <div class="w-5/12 bg-cover rounded-tl-10rem" style="background-image: url('{{data.commonImage.one().url }}')">
            </div>

            {# Content #}
            <div class="w-7/12 bg-white px-24 py-16">
                <div class="flex flex-col gap-2">
                    {% if data.commonIcon.one() %}
                        <img class="w-12 h-12" src="{{ data.commonIcon.one().url }}" alt="{{ data.commonIcon.one().alt }}">
                    {% endif %}

                    {% if tags %}
                        <div class="flex flex-row gap-2">
                            {% for tag in tags %}
                                <div class="text-xs uppercase font-bold bg-grey p-1 px-2">
                                    {{ tag }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <h2 class="mt-6">
                    {{ title }}
                </h2>

                <div class="mt-4 mb-16">
                    {{ description|nl2br }}
                </div>

                {% for card in cards.all() %}
                    <div>
                        {% include "/components/card.twig" with { 
                            card : card
                        } %}
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>