{# ========================================================================== #}
{# :: Variables #}
{# ========================================================================== #}
{% set title = data.commonTitle ?? "" %}
{% set description = data.commonDescription ?? "" %} 
{% set color = data.commonColor ?? "" %} 
{% set tags = data.commonTags ?? "" %} 
{% set cards = data.commonCards ?? "" %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<div class="lg:bg-{{color}} lg:pt-8 relative">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap lg:flex-nowrap">
            {# Image #}
            <div class="relative w-full h-52 mt-8 rounded-tl-full rounded-tr-full lg:mt-0 lg:h-auto lg:w-5/12 bg-cover lg:rounded-tl-10rem lg:rounded-tr-none" style="background-image: url('{{data.commonImage.one().getUrl({
                width: 1200,
                format: 'webp',
                quality: 100,
                mode: 'fit'
            }) }}')">
                <div class="bg-{{color}} h-2/3 w-screen absolute -z-10 -mx-4 -top-8 lg:hidden"></div>
            </div>

            {# Content #}
            <div class="w-full lg:bg-white flex flex-col items-center py-8 lg:items-start lg:px-24 lg:py-16 lg:w-7/12">
                <div class="flex flex-col items-center lg:items-start gap-2">
                    {% if data.commonIcon.one() %}
                        <img class="w-8 h-8 lg:w-12 lg:h-12" src="{{ data.commonIcon.one().url }}" alt="{{ data.commonIcon.one().alt }}">
                    {% endif %}

                    {% if tags %}
                        <div class="flex flex-row gap-2">
                            {% for tag in tags %}
                                <div class="text-xs uppercase font-bold bg-grey p-1 px-2">
                                    {{ tag }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <h2 class="mt-6">
                    {{ title }}
                </h2>

                <div class="mt-4 mb-16 text-center lg:text-left">
                    {{ description|nl2br }}
                </div>

                {% for card in cards.all() %}
                    <div>
                        {% include "/components/card.twig" with { 
                            card : card
                        } %}
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>