{# ========================================================================== #}
{# :: Variables #}
{# ========================================================================== #}
{% set card = card ?? "" %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<div class="h-full border-1 border-grey border-t-4 border-t-{{ card.commonColor }} p-8" style="box-shadow: 0px 6px 40px 0px rgba(210, 204, 204, 0.30);">

    {% if card.commonIcon.one() %}
        <img class="w-12 h-12 mb-4" src="{{ card.commonIcon.one().url }}" alt="{{ card.commonIcon.one().alt }}">
    {% endif %}

    {% if card.commonTitle %}
        <h3 class="mb-4">
            {{ card.commonTitle }}
        </h3>
    {% endif %}

    {% if card.commonDescription %}
        <div>
            {{ card.commonDescription  }}
        </div>
    {% endif %}

    {% if card.commonLinks|length > 0 %}
        <ul class="grid gap-3 mt-4">
            {% for link in card.commonLinks.all() %}
                <li>
                    {% include "/components/link.twig" with { 
                        href : link.page,
                        text : link.page.getText(),
                        color : card.commonColor,
                    } %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>