{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<footer>
    {# Decorative #}
    {# <div class="h-10 bg-repeat-x" style="background-image:url('/assets/shapes/pattern.svg')">
    </div> #}

    {# Main #}
    <div class="bg-black py-12">
        <div class="container mx-auto px-4 text-white" >
            <div class="flex flex-wrap gap-8 lg:gap-24 lg:flex-nowrap">
                {# Company information #}
                <div class="w-full lg:w-1/3">
                    {# Images #}
                     {% include "/components/logos/inverted-logo.twig" with {
                        customClass: 'w-80 mb-4'
                     } %}

                    {# Information #}
                    <div class="text-sm pt-4 grid gap-2 lg:pt-12">
                        <p class="font-normal">
                            {{ footer.commonAddress }} <br/>
                        </p>
                        <a class="font-normal" href="tel:{{ footer.commonPhone }}">{{ footer.commonPhone }}</a>
                        <a class="font-normal" href="mailto:{{ footer.commonMail }}">{{ footer.commonMail }}</a>
                    </div>

                </div>

                {# Menu information #}
                <div class="w-full lg:w-2/3">
                    <div class="flex gap-8 flex-wrap lg:flex-nowrap">
                        {% for column in footer.footerColumns.all() %}
                            <div class="w-full">
                                <h6 class="text-lg mb-2 lg:mb-6">
                                    {{ column.commonTitle }}
                                </h6>

                                <ul class="grid gap-1 lg:gap-3">
                                    {% for link in column.commonLinks.all() %}
                                        <li>
                                            <a class="font-normal underline text-sm" href="{{ link.page }}">{{ link.page.getText() }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Secondary #}
    <div class="py-4">
        <div class="container mx-auto px-4" >
            <div class="flex justify-between items-center">
                {# Secondary links #}
                <ul class="flex gap-6">
                    {% for link in footer.commonSecondaryLinks.all() %}
                        <li>
                            <a class="font-normal underline text-sm" href="{{ link.page }}">{{ link.page.getText() }}</a>
                        </li>
                    {% endfor %}
                </ul>

                {# Socials #}
                <ul>
                    <li>
                        <a href="https://www.facebook.com/maiopwijk" target="_blank">
                             {% include "/components/icons/facebook.twig" %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>