{# ========================================================================== #}
{# :: Variables #}
{# ========================================================================== #}
{% set href = href ?? "" %}
{% set text = text ?? "" %}
{% set isSmall = isSmall ?? false %}
{% set color = color ?? "black" %}
{% set icon = icon ?? "arrow-right" %}
{% set download = download ?? false %}
{% set customClasses = customClasses ?? "" %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<a class="c-link flex items-center cursor-pointer {{customClasses}}" href="{{href}}" {% if download %} download {% endif %} {% if href.target is defined %}target="{{ href.target }}" {% endif %} >
    <span class="mr-2 border-b-1 border-b-{{color}} {% if isSmall %} text-sm {% endif %}">
        {{ text | raw }}
    </span>
    <div class="c-link__icon transition ease-in-out transform">
        {% include "/components/icons/" ~  icon ~".twig" with { 
            color : "fill-" ~ color
        } %}
    </div>
</a>

